# please modify if you notice files being exclude by
# the generic rules at the top
# ignore output files
*.x
# specific rules
Adm1_GeoJSON
ByAuthor
ClusterRData
Figures
LookUpTables
Original
Quoted
RData
TaxonSummary
UniqueAncil
UniqueTrait
docs/AdditionalData
docs/Adm1_GeoJSON
docs/BrazilianStatesMap
docs/ByAuthor
docs/ClusterRData
docs/Figures
docs/InputLists
docs/LookUpTables
docs/Original
docs/Quoted
docs/RData
docs/RUtils
docs/SplitAuthor.f90
docs/TaxonSummary
docs/UniqueAncil
docs/UniqueTrait
AdditionalData/NGEE-Tropics.csv
AdditionalData/Panama_Extra.csv
.Rhistory
.Rproj.user
Adm1_GeoJSON
TRY_Harmonise_Utils_Trisha.r
.DS_Store
.RDataTmp
.RData
TraitAllom1.Rproj
